### Investigation

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('../data/cleaned_data/2re_semi_cleaned_data.csv')

In [5]:
data.head()

,senior_citizen,partner,dependents,tenure,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,No,Yes,No,1,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,No,No,No,34,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,No,No,No,2,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,No,No,No,45,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,No,No,No,2,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [6]:
yes_count = data['churn'].value_counts()['Yes']
print("Number of 'Yes' values in the 'churn' column:", yes_count)

Number of 'Yes' values in the 'churn' column: 1869

In [7]:
churned_data = data[data['churn'] == 'Yes']

,senior_citizen,partner,dependents,tenure,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
2,No,No,No,2,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,No,No,No,2,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,No,No,No,8,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.50,Yes
8,No,Yes,No,28,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
13,No,No,No,49,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.30,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7010,No,No,No,12,No,DSL,No,No,No,Yes,Yes,No,One year,Yes,Electronic check,59.80,727.80,Yes
7015,No,No,No,9,No,DSL,No,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),44.20,403.35,Yes
7021,Yes,No,No,1,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,75.75,75.75,Yes
7023,No,No,No,67,Yes,Fiber optic,Yes,Yes,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),102.95,6886.25,Yes
7030,Yes,Yes,No,4,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes

In [10]:
filtered_data = churned_data[(churned_data['total_charges'] >= 135) & (churned_data['total_charges'] <= 2331)]

In [13]:
filtered_data2 = filtered_data[(filtered_data['monthly_charges'] >= 55) & (filtered_data['monthly_charges'] <= 94)]

In [14]:
filtered_data2.shape

(573, 18)

In [15]:
573/1869

0.30658105939004815

In [16]:
filtered_data2['contract'].value_counts()

contract
Month-to-month    558
One year           15
Name: count, dtype: int64

### another investiation

In [17]:
filtered_data3 = churned_data[(churned_data['monthly_charges'] >= 55) & (churned_data['monthly_charges'] <= 94)]

In [19]:
filtered_data3['contract'].value_counts()

contract
Month-to-month    892
One year           55
Two year           11
Name: count, dtype: int64