# 9. Investigation of the valuabble importance

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
#load
lg = pd.read_csv('../data/Significant_Score/T_SMOTE_LG_Significance_Score.csv')
knn = pd.read_csv('../data/Significant_Score/T_SMOTE_KNN_Significance_Score.csv')
rf =pd.read_csv('../data/Significant_Score/T_SMOTE_RF_Significance_Score.csv')
gb = pd.read_csv('../data/Significant_Score/T_SMOTE_GB_Significance_Score.csv')

In [9]:
lg

,contract_Two year,contract_One year,payment_method_Credit card (automatic),total_charges,gender_M,payment_method_Bank transfer (automatic),payment_method_Mailed check,gender_F,internet_service_No,internet_service_DSL,...,streaming_tv,senior_citizen,dependents,partner,phone_service,device_protection,online_backup,streaming_movies,multiple_lines,monthly_charges
0,0.161622,0.12408,0.097264,0.095944,0.095109,0.094262,0.093596,0.093063,0.084189,0.061622,...,0.001804,0.000751,0.000291,0.000182,0.000157,0.000145,-0.000424,-0.001186,-0.001223,-0.001283

In [10]:
knn

,total_charges,multiple_lines,partner,online_backup,online_security,senior_citizen,streaming_tv,streaming_movies,dependents,tech_support,...,payment_method_Electronic check,contract_Month-to-month,contract_One year,phone_service,payment_method_Bank transfer (automatic),internet_service_DSL,gender_F,internet_service_Fiber optic,internet_service_No,gender_M
0,0.047772,0.039262,0.038596,0.028172,0.024625,0.024528,0.023317,0.022942,0.022809,0.020678,...,0.01201,0.010605,0.009927,0.009334,0.007361,0.003596,0.001816,0.001392,0.001283,0.001102

In [11]:
rf

,total_charges,online_security,monthly_charges,tech_support,contract_Month-to-month,dependents,contract_Two year,internet_service_No,streaming_movies,payment_method_Electronic check,...,device_protection,contract_One year,gender_M,senior_citizen,payment_method_Credit card (automatic),payment_method_Bank transfer (automatic),gender_F,internet_service_DSL,payment_method_Mailed check,phone_service
0,0.079225,0.030714,0.029879,0.024867,0.023063,0.01776,0.015981,0.015218,0.014274,0.014031,...,0.009334,0.008281,0.007676,0.007167,0.007119,0.006283,0.005194,0.005121,0.003644,0.003462

In [12]:
gb

,total_charges,monthly_charges,partner,online_security,tech_support,online_backup,dependents,senior_citizen,multiple_lines,streaming_movies,...,payment_method_Credit card (automatic),contract_Month-to-month,internet_service_Fiber optic,contract_One year,phone_service,gender_F,payment_method_Bank transfer (automatic),internet_service_No,gender_M,internet_service_DSL
0,0.140738,0.067736,0.030835,0.028172,0.025387,0.023523,0.019479,0.019128,0.016598,0.015182,...,0.00931,0.008027,0.006598,0.006114,0.003644,0.003269,0.003196,0.002676,0.001828,0.000424

### choose top 10 and extract column names

In [30]:
column_names = []

for name in knn.columns[:10]:
    column_names.append(name)
for name in lg.columns[:10]:
    column_names.append(name)
for name in rf.columns[:10]:
    column_names.append(name)
for name in gb.columns[:10]:
    column_names.append(name)
    
column_names

['total_charges',
 'multiple_lines',
 'partner',
 'online_backup',
 'online_security',
 'senior_citizen',
 'streaming_tv',
 'streaming_movies',
 'dependents',
 'tech_support',
 'contract_Two year',
 'contract_One year',
 'payment_method_Credit card (automatic)',
 'total_charges',
 'gender_M',
 'payment_method_Bank transfer (automatic)',
 'payment_method_Mailed check',
 'gender_F',
 'internet_service_No',
 'internet_service_DSL',
 'total_charges',
 'online_security',
 'monthly_charges',
 'tech_support',
 'contract_Month-to-month',
 'dependents',
 'contract_Two year',
 'internet_service_No',
 'streaming_movies',
 'payment_method_Electronic check',
 'total_charges',
 'monthly_charges',
 'partner',
 'online_security',
 'tech_support',
 'online_backup',
 'dependents',
 'senior_citizen',
 'multiple_lines',
 'streaming_movies']

In [31]:
from collections import Counter

# Count the occurrences of each value
value_counts = Counter(column_names)

# Display the count of each value
for value, count in value_counts.items():
    print(f'{value}: {count}')

total_charges: 4
multiple_lines: 2
partner: 2
online_backup: 2
online_security: 3
senior_citizen: 2
streaming_tv: 1
streaming_movies: 3
dependents: 3
tech_support: 3
contract_Two year: 2
contract_One year: 1
payment_method_Credit card (automatic): 1
gender_M: 1
payment_method_Bank transfer (automatic): 1
payment_method_Mailed check: 1
gender_F: 1
internet_service_No: 2
internet_service_DSL: 1
monthly_charges: 2
contract_Month-to-month: 1
payment_method_Electronic check: 1

In [32]:


# Count the occurrences of each value
value_counts = Counter(column_names)

# Sort the value counts in descending order
sorted_value_counts = sorted(value_counts.items(), key=lambda x: x[1], reverse=True)

# Display the count of each value in descending order
for value, count in sorted_value_counts:
    print(f'{value}: {count}')

total_charges: 4
online_security: 3
streaming_movies: 3
dependents: 3
tech_support: 3
multiple_lines: 2
partner: 2
online_backup: 2
senior_citizen: 2
contract_Two year: 2
internet_service_No: 2
monthly_charges: 2
streaming_tv: 1
contract_One year: 1
payment_method_Credit card (automatic): 1
gender_M: 1
payment_method_Bank transfer (automatic): 1
payment_method_Mailed check: 1
gender_F: 1
internet_service_DSL: 1
contract_Month-to-month: 1
payment_method_Electronic check: 1

In [ ]:
'total_charges', 'online_security', 'streaming_movies', 'dependents', 'tech_support',
'multiple_lines' , 'partner', 'online_backup', 'senior_citizen', 'contract_Two year', 
'internet_service_No', 'monthly_charges' were chosen.