In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#### This is experiment. 'Total_charges' is removed.

In [2]:
# load the file
data = pd.read_csv('../data/cleaned_data/re_semi_cleaned_data.csv')
data.head()

,senior_citizen,partner,dependents,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,No,Yes,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,No,No,No,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,No,No,No,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,No,No,No,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
data.shape

(7032, 17)

### removed 'total_charges'

####  now, divide the data split numerical and categorical.

In [ ]:
numericals = data.select_dtypes(np.number)
categoricals = data.select_dtypes(exclude=np.number)

In [ ]:
numericals

In [ ]:
numericals.describe()

In [ ]:
# The target 'stroke' is dropped and merged later.
categoricals = categoricals.drop('churn', axis=1)

In [ ]:
categoricals

### numerical columns transformation

In [ ]:
from sklearn.preprocessing import PowerTransformer
import pickle



# Columns to apply power transformation
columns_to_transform = ['monthly_charges', 'total_charges']

# Initialize the PowerTransformer
pt = PowerTransformer(method='yeo-johnson')

pt.fit(numericals[columns_to_transform])

# Fit and transform the specified columns

numericals[columns_to_transform] = pt.transform(numericals[columns_to_transform])


#save the transformer
filename = "../scaler/re_transformer.pickle" # Path with filename

with open(filename, "wb") as file:
        pickle.dump(pt,file)

In [ ]:
plt.figure(figsize=(12, 5))

# Plot 1
plt.subplot(1, 2, 1)  # 1 row, 2 columns, plot 1
sns.histplot(data['total_charges'], kde=True)
# Set plot labels and title
plt.xlabel('total_charges')
plt.ylabel('Frequency')
plt.title('total_charges Distribution')

# Plot 2
plt.subplot(1, 2, 2)  # 1 row, 2 columns, plot 2
sns.histplot(numericals['total_charges'], kde=True)
# Set plot labels and title
plt.xlabel('total_charges')
plt.ylabel('Frequency')
plt.title('transformed total_charges Distribution')

plt.tight_layout()  # To prevent overlapping of plots
plt.show()

In [ ]:
plt.figure(figsize=(12, 5))

# Plot 1
plt.subplot(1, 2, 1)  # 1 row, 2 columns, plot 1
sns.histplot(data['monthly_charges'], kde=True)
# Set plot labels and title
plt.xlabel('monthly_charges')
plt.ylabel('Frequency')
plt.title('monthly_charges Distribution')

# Plot 2
plt.subplot(1, 2, 2)  # 1 row, 2 columns, plot 2
sns.histplot(numericals['monthly_charges'], kde=True)
# Set plot labels and title
plt.xlabel('monthly_charges')
plt.ylabel('Frequency')
plt.title('transformed monthly_charges Distribution')

plt.tight_layout()  # To prevent overlapping of plots
plt.show()

#### Min Max scaler is appled for numerical columns

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaler.fit(numericals)

scaled_numericals = scaler.transform(numericals) 


filename = "../scaler/re_min_max_scaler.pickle" # Path with filename

with open(filename, "wb") as file:
        pickle.dump(scaler,file)

In [ ]:
numericals_scaled_df = pd.DataFrame(scaled_numericals, columns=numericals.columns)
numericals_scaled_df.head()

In [ ]:
numericals_scaled_df.shape

In [ ]:
numericals_scaled_df.describe()

## categorical columns

##### convert categorical columns into dummy variables

In [ ]:
encoded_categoricals = pd.get_dummies(categoricals, columns=categoricals.columns, dtype=int)
encoded_categoricals

### concatanate columns

In [ ]:
numericals_scaled_df.reset_index(drop=True)
encoded_categoricals.reset_index(drop=True)

In [ ]:
concatenated_data = pd.concat([numericals_scaled_df,encoded_categoricals, data['churn']], axis=1)
concatenated_data

In [ ]:
#save the file
concatenated_data.to_csv('../data/cleaned_data/re_cleaned_data.csv', index=False)